# Сборка Docker-образа с автотестами и отправка в Docker Hub.
# Требуемые секреты в настройках репозитория: DOCKERHUB_USERNAME, DOCKERHUB_TOKEN
name: Build and Push Docker Image

on:
  push:
    branches:
      - '*'
    paths:
      - 'src/**'
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: nbank-tests

jobs:
  build-and-push:
    name: Build, Checkstyle, Docker build & push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build project with Maven
        run: ./mvnw clean verify -DskipTests -q
        env:
          APIBASEURL: http://localhost:4111
          UIBASEURL: http://frontend

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }} .

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }}
