name: Run tests

# триггер
on: [ push, workflow_dispatch ]

jobs: # аналог этапов
  run-tests:
    name: Set up services (review apps) and run tests
    runs-on: ubuntu-latest
    steps: # шаги конкретной job
      - name: Checkout repository # копируем файлы репозитория внутрь CI агента
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Setup Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up services
        run: |
          sudo apt-get update -qq && sudo apt-get install -y -qq jq
          cd infra && bash restart-docker.sh && cd ..

      - name: Run tests
        run: mvn clean test -P api -q
        env:
          APIBASEURL: http://localhost:4111
          UIBASEURL: http://localhost:3000

      - name: Stop services
        if: always()
        run: cd infra && docker compose down